{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% include "header.html" %}
<h1>Encode with <img src="{{url_for('static',filename='assets/morse_code_machine.png')}}" class="img-fluid text-right" style="max-width:10rem"></h1>
<div class="row mt-3 justify-content-md-center">
        <p class="lead">Write here the message you would like to encode</p>
        <div class="col-lg-6">
        {{ wtf.quick_form(form, novalidate=True, button_map={"submit_button": "dark"}) }}
        </div>
</div>
{% include "footer.html" %}
{% endblock %}